// Imports
@import "./css/normalize.css";
@import "./css/react-vis.css";
@import "./fonts/stylesheet.css";

// Colours
$c-p: #ff8065;
$c-s: #0d3b6d;
$c-b: #555555;

// Fonts
$f-h: "Sentinel SSm A", "Sentinel SSm B", serif;
$f-r: "Ideal Sans A", "Ideal Sans B", sans-serif;
$f-c: "Dank Mono", monospace;

// Mobile Breakpoints

// Global

* {
  box-sizing: border-box;
  // outline: 1px solid rgba(0,0,0,0.1);
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: $c-b;
}

img {
  max-width: 100%;
  height: auto;
}

.dark-bg {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// React wrapping
.App,
#root {
  position: relative;
  height: 100%;
  min-height: 100%;
}

// Global Block Styles
.split {
  min-height: 100%;
  position: relative;
  display: flex;

  .col {
    position: relative;
    flex: 1;
  }
}

// Header
.header-wrap {
  height: 500px;
  z-index: 1; /* pop it above next div */
}

// Flights Map
.flight-map-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $c-p;
  background: linear-gradient(to right, $c-s, #ed6550);

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("./img/nt-duotone.jpg") no-repeat;
    background-size: auto 100%;
    z-index: 1000;
    opacity: 0;
  }
}

// Typography

h1,
h2,
h3 {
  font-family: $f-h;
}

h1 {
  font-size: 2em;
  font-weight: 200;
}

h2 {
  font-size: 1.2em;
}

// Nav

nav {
  font-family: $f-r;
  font-weight: 400;
  padding: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);

  a {
    display: inline-block;
    font-size: 1.2rem;
    margin-right: 20px;
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

// Content
.content {
  font-family: $f-r;
  font-weight: 300;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.6;
  margin: 40px auto;
  max-width: 720px;
  background: #fff;
  z-index: 10;
}

a {
  color: $c-b;
  position: relative;
  text-decoration: none;
  z-index: 1;

  &:before {
    position: absolute;
    left: 0;
    bottom: 2px;
    right: 0;
    content: "";
    border-bottom: solid 5px fade-out($c-p, 0.6);
    z-index: -1;
  }
}

ul.technologies {
  padding-left: 0;

  li {
    display: inline-block;
    padding: 2px 6px;
    margin-right: 5px;
    margin-bottom: 5px;

    &.f {
      color: $c-p;
      background: fade-out($c-p, 0.8);
    }

    &.b {
      color: $c-s;
      background: fade-out($c-s, 0.8);
    }
  }
}

// Charts

.d3-chart-wpshare {
  position: relative;
  height: 400px;
  font-family: $f-c;
  padding-right: 42px;
}
